html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 20px/1.4 'Montserrat, san-serif';
  color: #2e3f42;
  background-color: #e5f2f0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}